* { margin: 0px; }
body {
	background-color: white;
	font-size: 13px;
	font-family: Tahoma, Arial;
	margin: 0px;
	background-color: #e8e8e8;
}

#menu
{
        border-bottom : 1px solid #9EA0A1;
        padding-bottom : 25px;
}

#onglets
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font-weight: bold;
        font-size: 11px;
        list-style-type : none;
        margin-top : 0;
        margin-left: 180px;
        width : 650px;
}
#onglets li
{
    float : left;
    height : 21px; /* Ã  modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}

#content {
	background-color: white;
	padding: 10px;
}

#content a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#content h1 {
    font-size: 16px;
    margin-left: 20px;
}

#footer {
	text-align: center;
	font-size: 0.9em;
	color: #787878;
	width: 793px;
	margin: 0px auto;
	padding-top: 5px;
        height: 80px;
        display: block;
        position: relative;
}

#footer a { color: #787878; }

#content h1 {
	color:#277af5;
	font-size: 15px;
	margin-bottom: 20px;
}

#content h2 {
	color:#277af5;
	font-size: 14px;
	margin-bottom: 20px;
	margin-left: 50px;
        margin-top: 25px;
}

.container {
	width: 1000px;
	margin: 0px auto;
	background-color: #e8e8e8;
}

.barre {
	display: block;
	text-align: center;
	padding: 10px;
	border-bottom: 4px solid #787878;
}

.escape {
	height: 20px;
}
.center { text-align: center; }
.both { clear:both; }


th
{
  background-color: #F4F9FD;
  margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
  margin : 1px 2px 0 2px;  /* Pour IE  */
  border : 1px solid #9EA0A1;
  padding: 3px;
}

th:hover
{
  background : #fff;
}

.pagination
{
  margin: 20px;
  font-size: 11px;
}

.pagination_link
{
  background-color: #F4F9FD;
  margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
  margin : 1px 2px 0 2px;  /* Pour IE  */
  border : 1px solid #9EA0A1;
  padding: 3px;
}

.impair
{
  background-color: #E8E8E8;
}